
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

nav{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 17%;
    margin-right: 17%;
}


.leftnav a{
    display: inline-block;
    padding: 15px 10px;
    text-decoration: none;
    color: rgb(65, 63, 63);   
}

.leftnav a:first-child{
    padding-left: 0;
}

.leftnav a:hover{
    transition: 1s;
    color: rgb(14, 13, 13);
}

.rightnav i{
    display: inline-block;
    padding: 15px 8px;
    vertical-align:top;
}


hr{
    background-color: rgb(240, 233, 233); 
    height: 1px; 
    border-style: none;
}

.rightnav hr{
    display: inline-block;
    width: 1px;
    height: 100%;
    margin-left: 5px;
}

.main{
    padding-top: 90px;
    margin-left: 17%;
    margin-right: 17%;
}

.logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.circle{
    border: 3px solid rgb(240, 233, 233);
    height: 35px;
    width: 35px;
    border-radius: 50%; 
}

.circle i{
    display: inline-block;
    transform: translate(7px, 6px);
}

.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.card{
    /* flex-basis: 33.333333%; */
    width: min-content;
}

.card img{
    max-width: 293px;
    max-height: 199px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h3{
    font-size: 17px;
    width: 285px;
    margin-bottom: 15px;
    
}

.card hr{
    border-top: 1px dotted rgb(240, 233, 233);
    width: 293px;
}



